VITE_API_BASE_URL=http://172.16.55.9:8000
# Optional. If omitted, frontend will use the current host on port 8080.
# Example: http://172.16.55.9:8080
VITE_KEYCLOAK_URL=
VITE_KEYCLOAK_REALM=risk-management-system
VITE_KEYCLOAK_CLIENT_ID=frontend-client
